body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background: #777;
    color: #777;
    font-weight: bold;
    font-size: 18px;
    width: 960px;
    padding-left: 25%;
    text-align: center;       
}

header {
    padding: 30px;
    margin-bottom: 20px;
    background: #ebebeb;
  }

nav {
    padding: 30px;
    margin-bottom: 20px;
    background: #ebebeb;
  }

  section {
    float: left;
    width: 495px;
    height: 10em;
    padding: 30px;
    margin-bottom: 20px;
    background: #ebebeb;
  }

  article {
     margin-top: 20px;
     width: 90%;
     height: 5em;
     padding: 30px;
     color: #ebebeb;
     background: #777;
   }

  aside    {
    float: right;
    width: 35%;
    height: 10em;
    padding: 30px;
    background: #ebebeb;
   }

  h1 {
    background: #ebebeb;
    color: #777;
  }

  p {
    background: #ebebeb;
    color: #777;
  }

 footer {
    clear: both;
    padding: 30px;
    background: #ebebeb;
  }
